<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-7 d-none d-md-flex bg-image"></div>
        <div class="col-md-5">
            <div class="d-flex align-items-center py-5" style="height: 100vh;">
                <div class="login-card">
                    <div class="text-center">
                        <h5 class="mb-0">Welcome Back !</h5>
                        <p class="text-muted mt-2">Ravie de vous revoir !</p>
                    </div>
                    <div class="d-flex justify-content-center my-3 icon-container">
                        <mat-icon class="person-icon">person</mat-icon>
                    </div>
                    <form [formGroup]="loginForm" (ngSubmit)="loginWithEmail()">
                        <div class="form-group">
                            <label for="email">Adresse email</label>
                            <input type="email" class="form-control" formControlName="email" id="email" placeholder="Adresse Email">
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="password" class="form-control" formControlName="password" id="password" placeholder="Mot de passe">
                        </div>
                        <div class="text-center mt-3"><button type="submit" class="btn btn-dark btn-block">Se connecter</button></div>

                        <div class="text-center mt-3">
                            <a href="#">Mot de passe oublié ?</a>
                        </div>
                        <div class="text-center mt-2">
                            <a href="#" >Vous n'avez pas de compte ? S'inscrire</a>
                        </div>
                        <div class="text-center mt-3">
                            <button type="button" class="btn btn-link text-dark" routerLink="/" >Retour à l'accueil</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
