<div class="container-fluid d-flex flex-column vh-100">
    <div class="row no-gutter flex-grow-1 d-flex justify-content-center align-items-center">
        <div class="col-md-6 d-flex align-items-center justify-content-center p-5 bg-white">
            <div class="login-card">
                <div class="text-center mb-4">
                    <img src="assets/images/landing/lOGO_d/logo.png" alt="Logo" class="logo mb-4">
                    <h2>Welcome Back !</h2>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="loginWithEmail()">
                    <div class="form-group position-relative">
                        <i class="fa fa-user icon"></i>
                        <input type="email" class="form-control" formControlName="email" id="email" placeholder="Email">
                    </div>
                    <div class="form-group position-relative">
                        <i class="fa fa-lock icon"></i>
                        <input type="password" class="form-control" formControlName="password" id="password" placeholder="Mot de passe">
                        <i class="fa fa-eye icon-eye" (click)="togglePasswordVisibility()"></i>
                    </div>
                    <div class="form-check text-center form-check-primary py-1 text-right">
                        <a href="" class="text-muted text-decoration-underline font-size-14">Mot de passe oublié ?</a>
                    </div>
                    <div class="form-check form-check-primary py-1">
                        <input type="checkbox" class="form-check-input" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">Se rappeller</label>
                    </div>
                    <div class="mt-3 d-flex flex-column align-items-center">
                        <button class="btn btn-primary mb-4" style="width: 100%;" type="submit" [disabled]="loading">
                            <ng-container *ngIf="!loading; else loadingTemplate">Connexion</ng-container>
                            <ng-template #loadingTemplate>
                                <div class="spinner">
                                    <mat-spinner diameter="24" class="spinner" color=""></mat-spinner>
                                </div>
                            </ng-template>
                        </button>
                    </div>
                    <div class="mt-4 text-center">
                        <p class="text-muted mb-0">Vous n'avez pas de compte ? <a class="text-decoration-underline" routerLink="/register">S'inscrire</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
