<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">


            <mat-card-title class="text-center mb-4">
                <div align="center">  <h2>Garantie et finance  </h2> </div>
            </mat-card-title>

            <!-- Nouvelle carte avec une image -->

                <img mat-card-image src="assets/images/finance.jpg" alt="Image de garantie et finance" style="border-top-left-radius: 10px ; border-top-right-radius: 10px">



            <mat-card class="mb-4 text-center">
                <mat-card-header>

                </mat-card-header>
                <mat-card-content>
                    <p>Obtenez la sécurité financière nécessaire pour poursuivre vos études à l'étranger. Notre service de garant financier vous aide à remplir les exigences financières des agents consulaires (France , Canada ...), vous permettant ainsi d'obtenir votre visa ou permis d'étude dans de bonne condition.</p>
                    <p><strong >Tarif France : 350 000 FCFA</strong> </p>
                    <p><strong >Tarif Canada : 700 000 FCFA</strong> </p>
                </mat-card-content>
            </mat-card>

            <mat-card class="mb-4">
                <mat-card-header>
                </mat-card-header>
                <mat-card-content>
                    <p>En cliquant sur ce bouton vous auriez la possibilité de créer une demande de garant financier puis de la soumettre par la suite.</p>
                </mat-card-content>
                <mat-card-actions class="d-flex justify-content-center">
                    <button mat-raised-button color="primary" (click)="submitRequest()">Je demande !</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
